### TP2 2/2
#### Nom et Pr√©nom : EL ATTARI Yassine

In [9]:
from pyspark.sql import SparkSession

import json
import sys
import os
import pyspark
try:
    sc
except NameError:    
    spark = pyspark.sql.SparkSession.builder.master("local[*]").appName("hadoop course").config("spark.hadoop.validateOutputSpecs", "false").getOrCreate()
    sc = spark.sparkContext

spark = SparkSession.builder.appName("LoadJson").getOrCreate()

# importer le fichier json creer dans l'exercice 1
input = spark.read.json("file://"+os.getcwd()+"/output/json/result.json")

In [4]:
input.printSchema()

root
 |-- name: string (nullable = true)
 |-- roles: string (nullable = true)
 |-- title: string (nullable = true)

In [6]:
input.registerTempTable("movies")
answer = spark.sql("SELECT * FROM movies WHERE title LIKE '%Atlas%'")
answer.coalesce(1).write.json("file://"+os.getcwd()+"/output/json/ex2.json")

In [8]:
input = spark.sparkContext.textFile("file://"+os.getcwd()+"/output/json/ex2.json")
data = input.map(lambda x: json.loads(x)).filter(lambda x: 'Atlas' in x['title'])
data.coalesce(1).saveAsTextFile("file://"+os.getcwd()+"/output/json/ex3.json")

### Resultat: contenu du fichier output/json/ex3.json/part-00000

{'name': 'Tom Hanks', 'roles': 'Old Salty Dog / Mr. Meeks / Prescient 1', 'title': 'Cloud Atlas'}